# Compiled Python files
*.pyc
*.pyo
*.egg-info

# Emacs files
\#*#
.#*

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
dump.rdb
.noseids

# Vagrant related files
.vagrant/

